---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Slideshow from '../components/Slideshow.astro';
import Presentation from '../components/Presentation.astro';
import Secondary from '../components/Secondary.astro';
import Gallery from '../components/Gallery.astro';
import Contact from '../components/Contact.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<script
  src="https://code.jquery.com/jquery-3.7.1.js"
  integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
  crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
  		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body id="head">
		<Header />
		<main>
				<Slideshow />
		
			  <Presentation />
			  <Secondary />
			  <Gallery />
			  <Contact />
		</main>
		<Footer />
	</body>
</html>