<section id="contacto"  class="section">


<div   class="contacto">
    <div class="info">
        <h1>Contacto</h1>
        <p>talmail@hotmail.com</p>
        <h2>Telefono</h2>
        <p>246850293</p>
        <h3>Direccion</h3>
        <p>Comercio 2186, 11400 Montevideo, Departamento de Montevideo</p>
    </div>

    <div class="map">
        <iframe class="mapa"  src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13091.93555196197!2d-56.1360916!3d-34.8817509!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959f819e0dc2b08b%3A0xcb58bc46e5a1c4be!2sLa%20Fabrica%20fiestas%20y%20eventos!5e0!3m2!1ses!2suy!4v1717559437558!5m2!1ses!2suy" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>

</section>
<style>
.section {
    padding: 5rem;
    background-color: rgba(255, 255, 255, 0.934);
}

.contacto {
    background-color: rgba(239, 164, 164, 0.066);
    display: flex;
    flex-direction: row;
}

.info {
    color: black;
    margin: 3rem;
    width: 40%; /* Adjust as needed */
}

.map {
    width: 60%; /* Adjust as needed */
}

.mapa {
    width: 100%; /* Adjust as needed */
    height: 100%;
}

/* Responsive font size */
@media screen and (max-width: 768px) {
    * {
        font-size: 1em; /* Adjust as needed */
    }
    .info {
        margin: 1rem;
    }
    .section {
        padding: 1rem;
    }
}

</style>