<section id="galeria"  class="section">

    <h1>Galeria</h1>

    <div class="gallery">
        <div class="gallery-item">
            <img src="galeria1.jpeg" alt="galeria 1">
            <div class="overlay">
                <h3>Pool</h3>
                <p>Mesa de pool para disfrutar con amigos</p>
            </div>
        </div>
        <div class="gallery-item">
            <img src="galeria2.jpeg" alt="galeria 2">
            <div class="overlay">
                <h3>Salon</h3>
                <p>Gran Salon para fiestas y eventos</p>
            </div>
        </div>
        <div class="gallery-item">
            <img src="eventos.jpeg" alt="galeria 3">
            <div class="overlay">
                <h3>Ping Pong</h3>
                <p>Ping pong para divertirse con los chicos</p>
            </div>
        </div>
        <div class="gallery-item">
            <img src="galeria4.jpeg" alt="galeria 4">
            <div class="overlay">
                <h3>Salon para niños</h3>
                <p>Sala para los mas chicos equipada con juegos y animadores</p>
            </div>
        </div>
        <div class="gallery-item">
            <img src="galeria5.jpeg" alt="galeria 1">
            <div class="overlay">
                <h3>galeria 1</h3>
                <p>Description for galeria 1.</p>
            </div>
        </div>
        <div class="gallery-item">
            <img src="galeria6.jpeg" alt="galeria 1">
            <div class="overlay">
                <h3>galeria 1</h3>
                <p>Description for galeria 1.</p>
            </div>
        </div>
    
        <div class="gallery-item">
            <img src="galeria7.jpeg" alt="galeria 4">
            <div class="overlay">
                <h3>galeria 4</h3>
                <p>Description for galeria 4.</p>
            </div>
        </div>
        <div class="gallery-item">
            <img src="galeria8.jpeg" alt="galeria 1">
            <div class="overlay">
                <h3>galeria 1</h3>
                <p>Description for galeria 1.</p>
            </div>
        </div>
       
       
        <!-- Add more galerias as needed -->
    </div>


</section>
<style>
       .section {
        margin-top: 0rem;
        padding-top: 6rem;
        display: flex;
        flex-direction: column;
        background-color: white;
        align-items: center;
        width: 100%;
    }
    .gallery {
        margin-top: 4rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr)); /* Define minimum and maximum width for columns */
        gap: 0px;
        width: 100%;
    }
    .gallery-item {
        position: relative;
        overflow: hidden;
    }
    .gallery img {
        width: 100%;
        height: 40vh;
        object-fit: cover;
        display: block;
        transition: transform 0.5s ease; /* Smooth transition for zoom effect */
    }
    .gallery-item:hover img {
        transform: scale(1.1); /* Zoom in on hover */
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(239, 164, 164, 0.761); /* Semi-transparent background */
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.3s;
    }
    .gallery-item:hover .overlay {
        opacity: 1;
    }
    .overlay h3,
    .overlay p {
        color: white;
        margin: 10px;
        text-align: center;
    }
    @media screen and (max-width: 768px) {
    .gallery {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50vw, 1fr)); /* Define minimum and maximum width for columns */
        gap: 0px;
        width: 100%;
    }
    .gallery img {
        height: 30vh;
    }
    * h3,p {
        font-size: 1rem;
    }
    h1 {
        font-size: 4rem;
    }
}
</style>