---
import type { HTMLAttributes } from 'astro/types';
import { scrollToSection } from './scrollToSection'; // Adjust the path accordingly

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];
---

<a href={href?.toString() ?? '#'} class:list={[className, { active: isActive }]} onclick={`(${scrollToSection})(event)`} data-section={typeof href === 'string' ? href.replace('#', '') : ''}>
    <slot />
</a>

<style>
	a {
		display: inline-block;
		text-decoration: none;
		color: white;
		text-decoration: none;
		padding: 0.1em;
		font-size: 0.9rem;
		margin-right: 0.4rem;
	}
	a.active {
		font-weight: bolder;
		text-decoration: underline;
	}
</style>
