---
import HeaderLink from './HeaderLink.astro';

---

<header id="head">
	<img class="logo" src="logo.png">
	<nav>
		<div class="internal-links">
			<HeaderLink href="#head">Inicio</HeaderLink>
  			<HeaderLink href="#servicios">Servicios</HeaderLink>
			<HeaderLink href="#galeria">Galeria</HeaderLink>
  			<HeaderLink href="#contacto">Contactanos</HeaderLink>
		</div>
		<div class="social-links">
			
		</div>
		
		
	</nav>
	<div class="social-links">
		<a href=""> <img src="whatsapp.png" alt=""></a>  
		<a href=""> <img src="instagram.png" alt="">     </a>  
	</div>
</header>
<style>
	
	.social-links img {
		width: 2rem;
		height: 2rem;
		margin-right: 1rem;
	}
	header {
		position: fixed;
		top: 0;
    	left: 0;
    	width: 100%;
		height: 10vh;
    	z-index: 1000;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin: 0;
		padding: 0;
		background: rgb(0, 0, 0);
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
		color: white;
		transition: height 0.3s ease;
	}
	.logo {
		margin-left: 1rem;
		width: 5rem;
		height: 5rem;
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		color: white;
		text-decoration: none;
	}
	nav {
		display: flex;
		justify-content: center;
		align-items: center;
		justify-content: space-evenly;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		padding: 0.3rem;
	}

	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}

  /* Styles for the scrolled header */
  header.scrolled {
    background-color: rgba(0, 0, 0, 0.586); /* Transparent version */
    height: 8vh; /* Adjust the height as needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.286); /* Add shadow for depth */
  }
  header.scrolled .logo {
	width: 4rem;
	height: 4rem;
  }
  /* Additional styling for the content below the header */


</style>
<script>

  // Add a class to the header when the user scrolls down
  window.addEventListener('scroll', () => {
    const header = document.querySelector('header');
    if (window.scrollY > 0) {
      header!.classList.add('scrolled');
    } else {
      header!.classList.remove('scrolled');
    }
  });
</script>