---
import HeaderLink from './HeaderLink.astro';

---
<script>
	function scrollToSection(sectionId) {
  const targetSection = document.querySelector(sectionId);
  if (targetSection) {
    targetSection.scrollIntoView({
      behavior: 'smooth'
    });
  }
}
</script>
<header>
	<img class="logo" src="logo.png">
	<nav>
		<div class="internal-links">
			<HeaderLink href="/">Inicio</HeaderLink>
  			<HeaderLink href="#servicios">Servicios</HeaderLink>
  			<HeaderLink href="#galeria">Galeria</HeaderLink>
  			<HeaderLink href="#contacto">Contactanos</HeaderLink>
		</div>
		<div class="social-links">
			
		</div>
		
		
	</nav>
	<div class="social-links">
		<a href=""> <img src="whatsapp.png" alt=""></a>  
		<a href=""> <img src="instagram.png" alt="">     </a>  
	</div>
</header>
<style>
	
	.social-links img {
		width: 2rem;
		height: 2rem;
		margin-right: 1rem;
	}
	header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		z-index: 5;
		margin: 0;
		padding: 0;
		background: rgb(0, 0, 0);
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
		color: white;
	}
	.logo {
		margin-left: 1rem;
		width: 5rem;
		height: 5rem;
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		color: white;
		text-decoration: none;
	}
	nav {
		display: flex;
		justify-content: center;
		align-items: center;
		justify-content: space-evenly;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
