<div class="section">

    <div class="image">
        <img src="lamp.jpg" alt="section-1">
    </div>

    <div class="textdiv">

        <h1>Servicio Fiestas</h1>
        <br>
        <h3>Incluye:</h3>
        <p>- Parillero<br>
        - Moza para salon<br>
        - Mesas con decoracion<br>
        - Sala de juegos<br>
        - Sala para niños<br>
        - Sector para fumadores<br>
        - Vajillas y Limpieza <br>
        
        Para disfrutar tenemos:<br>
        - Mesa de pool<br>
        - Mesa de ping pong<br>
        - Maquinitas<br>
        - Futbolito<br>
        - Sistema de audio y televisor<br>

        Presupuestos:
        </p>
       <a href="https://wa.me/59899552186" ><img class="whatsapplogo" src="https://iconape.com/wp-content/files/di/367798/svg/logo-whatsapp-logo-icon-png-svg.png" alt="Whatsapp para fiestas de cumpleaños"></a> 
    </div>










</div>
<style>
    .whatsapplogo {
        justify-content: center;
        width: 2rem;
        height: auto;
    }
    .section{
        margin-top: 93vh;
        position: relative;
        display: flex;
        flex-direction: row;
        background-color: black;
        width: 100%;
        height: 105vh;
    }
    .image{
        width: 50%;
        height: 105vh;
    }
    .image img {
        width: 100%;
            object-fit: cover;
            height: 105vh;
    }
    .textdiv {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 50%;
        color: black;
        background-color: white;
        justify-content: center;
        align-content: center;
    }
</style>