<section class="secondary">
<div class="info">
<h2>Eventos</h2>
<br>
        <h3>Incluye:</h3>
        <p>- Parillero<br>
        - Moza para salon<br>
        - Mesas con decoracion<br>
        - Sala de juegos<br>
        - Sala para niños<br>
        - Sector para fumadores<br>
        - Vajillas y Limpieza <br>
        
        Para disfrutar tenemos:<br>
        - Mesa de pool<br>
        - Mesa de ping pong<br>
        - Maquinitas<br>
        - Futbolito<br>
        - Sistema de audio y televisor<br>

        Presupuestos:
        </p>
       <a href="https://wa.me/59899552186" ><img class="whatsapplogo" src="https://iconape.com/wp-content/files/di/367798/svg/logo-whatsapp-logo-icon-png-svg.png" alt="Whatsapp para fiestas de cumpleaños"></a> </div>


<div class="image">

<img src="image1.jpg" alt="">

</div>




</section>
<style>
     @media screen and (max-width: 768px) {
    * {
        font-size: 1em; /* Adjust as needed */
    }
}
     .whatsapplogo {
        justify-content: center;
        width: 2rem;
        height: auto;
    }

.secondary {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 105vh;
    max-height: 105vh;
}
.info {
    
justify-content: center;
align-items: center;
align-content: center;

text-align: center;
width: 50%;
height: 105vh;
background-color: white;
}
.image{
        width: 50%;
        height: 105vh;
    }
    .image img {
        width: 100%;
            object-fit: cover;
            height: 105vh;
    }
</style>